<div class="navbar navbar-expand-md navbar-light bg-white border-bottom">
  <span class="navbar-text mr-auto">
    <span class="text-primary">Commandes</span> /
    <span class="text-muted">{{(commandId$|async)|codeFormater}}</span>

  </span>

  <ul class="nav mt-2">
    <ng-container *ngIf="((commandId$|async)|remoteOrderFromId|async) as order">
      <li *ngIf="
    !order.IsPayed && order.status == 'pending'
    " class="nav-item mr-1">
        <button (click)="cancelOrder(order)" type="button" class="btn btn-danger btn-sm">Annuler</button>
      </li>
    </ng-container>

  </ul>

</div>
<div class="two-nav-content bg-color overflow-auto" *ngIf="((commandId$|async)|remoteOrderFromId|async) as order">

  <h4 class="m-3 mt-4">Détails de la commande <span
      class="badge badge-success">{{(commandId$|async)|codeFormater}}</span></h4>
  <div class="row m-1">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-center">Détails généraux</h5>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-center align-items-baseline border-0">
            <span class="text-muted mr-1">Shop:</span>
            <h6 role="button" class="text-primary">@{{order.shop.name}}</h6>
          </li>
          <li class="list-group-item d-flex justify-content-center align-items-baseline border-0">
            <span class="text-muted mr-1">Adresse:</span>
            <span>
              <h6>{{order.shop.address}}</h6>
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-center align-items-baseline border-0">
            <span class="text-muted mr-1">prix total:</span>
            <small class="text-muted mr-1">CDF</small>
            <span>
              <h6>{{order.totalPrice}}</h6>
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-center align-items-baseline border-0">
            <span class="text-muted mr-1">Mode de paiement:</span>
            <span>
              <h6>{{order.paymentMethode}}</h6>
            </span>
          </li>
          <li class="list-group-item d-flex justify-content-center align-items-baseline">
            <span class="text-muted mr-1">Paiement effectué:</span>

            <span>
              <h6><span [ngClass]="order.IsPayed?'badge-success':'badge-secondary'" class="badge badge-pill">{{
                  order.IsPayed? 'Oui':'Non'}}</span></h6>
            </span>
          </li>
        </ul>

      </div>
    </div>

  </div>
  <div class="row m-1 mt-3">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Panier</h5>

            </div>
            <ul *ngIf="order._id|remotePoductItemsFomOrderId|async as orderItems; else blockLoadingSpinner"
              class="list-group list-group-flush">
              <li *ngFor="let orderItem of orderItems"
                class="list-group-item d-flex justify-content-between align-items-center">
                <span class="text-muted mr-auto d-flex flex-row align-items-center">
                  <img class="fit-to-text-image mr-4" [src]="orderItem.product.name|productNameToProductImage" alt="">
                  <span class="d-flex flex-column">
                    <span>{{orderItem.product.name}}</span>
                    <small>{{orderItem.price}}</small>
                  </span>
                </span>
                <span role="buton">
                  <small class="mr-1 text-muted">sacs</small>
                  <h6 class="d-inline">{{orderItem.quantity}}</h6>
                </span>
              </li>

            </ul>
          </div>
        </div>

      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card mb-3">
            <div class="bg-secondary" style="height: 300px; width: 100%;">
              <agm-map *ngIf="order.status != 'pending' && order.status != 'accepted' && order.status != 'canceled'; else
              noMap" style="height: 100%;" [zoom]="14" [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>

            <div class="card-body">
              <h5 class="card-title">Livraison</h5>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                  <span class="text-muted mr-1">Livreur:</span>
                  <ng-container *ngIf="(order._id|remoteDeliveryFromOrderId|async) as delivery; else noItem">
                    <h6 *ngIf="(delivery.DeliverdBy?.userID|remoteUserFromId|async) as deliveryUser; else loading"
                      role="button" class="text-primary">@{{deliveryUser.name}}</h6>
                  </ng-container>


                </li>
                <li *ngIf="(order._id|remoteDeliveryFromOrderId|async) as delivery"
                  class="list-group-item d-flex justify-content-between align-items-center border-0">
                  <span class="text-muted mr-1">Reponse:</span>
                  <ng-container *ngIf="delivery.accepted == undefined || delivery.accepted == null">

                    <ng-container *ngIf="delivery.whenAssigned|commandDurationToIcon:'30':'60'|async as iconSet">
                      <span>
                        Aucune, depuis
                        <span [ngClass]="[iconSet.color, iconSet.color=='badge-danger'? 'blink':'']"
                          class="badge d-inline-flex align-items-center badge-pill mr-1 mb-1">
                          <span
                            class="mr-1  material-icons fit-text-icon-nd-min">{{iconSet.icon}}</span>{{iconSet.minutes}}
                          mins
                        </span>
                      </span>


                    </ng-container>
                  </ng-container>

                  <ng-container *ngIf="(order._id|remoteDeliveryFromOrderId|async)?.accepted!= undefined">
                    <span *ngIf="((order._id|remoteDeliveryFromOrderId|async)?.accepted); else notAccepted"
                      class="material-icons text-success fit-text-icon">
                      check_circle
                    </span>

                    <ng-template #notAccepted>
                      <span class="material-icons text-danger fit-text-icon">
                        cancel
                      </span>
                    </ng-template>
                  </ng-container>

                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <ng-container *ngIf=" order.status == 'pending' || order.status == 'accepted'">
                    <ng-container *ngIf="(order._id|remoteDeliveryFromOrderId|async) as delivery; else addDelivery">
                      <button (click)="assignOrderToDelivery(order)" type="button"
                        class="btn btn-primary btn btn-block">
                        Changer de
                        livreur</button>
                    </ng-container>

                    <ng-template #addDelivery>
                      <button (click)="assignOrderToDelivery(order)" type="button"
                        class="btn btn-primary btn btn-block">
                        Assigner à un livreur</button>
                    </ng-template>
                  </ng-container>


                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <span class="text-muted mr-1">Adresse de livraison:</span>
                  <h6 role="button">{{order.shippingAdress}}</h6>
                </li>
              </ul>

              <p class="card-text"><small class="text-muted">Date dernière position: 14 janv 2020, 13h15</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between align-items-baseline">
            <span>Historique</span>
            <span>
              <small class="text-muted mr-1">Statut actuel: </small>
              <span [ngClass]="{
                'badge-warning' : order.status == 'pending',
              'badge-success': order.status == 'accepted'||order.status == 'shiped' || order.status == 'delivered',
              'badge-danger': order.status == 'canceled'||order.status == 'issue'
            }" class="badge badge-pill pt-2 pb-2 pl-3 pr-3">{{order.status}}</span>
            </span>
          </h5>

        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let hitoricalItem of order.historical"
            class="list-group-item d-flex justify-content-between align-items-center">
            <span class="mr-auto d-flex flex-row align-items-center">

              <span class="d-flex flex-column">
                <span>{{hitoricalItem.status}}</span>
                <small class="text-muted ">{{hitoricalItem.created|date:'d MMM yyy, HH:mm':'Africa/Kinshasa'}}</small>
              </span>
            </span>
            <span role="buton">
              <small class="mr-1 text-muted">Par</small>
              <h6 [ngClass]="hitoricalItem.by? 'text-primary':'text-muted'" class="d-inline">
                {{hitoricalItem.by? '@'+(hitoricalItem.by|remoteUserFromId|async)?.name: '- -'}}</h6>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>



  <ng-template #loading> <span class="text-muted">Chargement</span>

  </ng-template>
  <ng-template #noItem> <span class="text-muted">- -</span>

  </ng-template>

  <ng-template #blockLoadingSpinner>
    <div class="spinner-border text-secondary m-4" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>

  <ng-template #noDataBlock>
    <div class="card mx-auto text-muted align-middle vertically-aligned-partially-box bg-light mb-3"
      style="max-width: 18rem;">
      <div class="card-body">
        <h6 class="card-title text-center"><span class="material-icons position-relative mr-2"
            style="top: 6px">block</span> Aucun élément à afficher</h6>

      </div>
    </div>
  </ng-template>

  <ng-template #noMap>
    <div class="card mx-auto shadow-sm text-muted align-middle vertically-aligned-box bg-light mb-3"
      style="max-width: 18rem;">
      <div class="card-body">
        <h6 class="card-title text-center"><span class="material-icons position-relative mr-2"
            style="top: 6px">layers_clear</span> Carthographie indisponible</h6>

      </div>
    </div>
  </ng-template>
</div>
