<div class="navbar navbar-expand-md navbar-light bg-white">
  <span class="navbar-text mr-4">
    <span class="text-primary">Livraison</span> /
    <span class="text-primary">Ese. Livraison</span> /
    <span class="text-muted">{{category$|async}}</span>
    <span *ngIf="(selectedDeliveryCorp$|async) != null" class="text-muted"> /
      {{(selectedDeliveryCorp$|async)._id|codeFormater}}</span>
  </span>
  <div class="btn-group mr-auto" role="group" aria-label="Basic example">
    <button #agreed autofocus="autofocus" (click)="setDeliveryCorpscategory('agreed')" type="button"
      data-toggle="tooltip" title="Agréées" class="btn btn-secondary"><span
        class="material-icons">check_circle</span></button>
    <button #pending type="button" (click)="setDeliveryCorpscategory('pending')" data-toggle="tooltip"
      title="En attente" class="btn btn-secondary"><span class="material-icons">hourglass_empty</span></button>
    <button #rejected type="button" (click)="setDeliveryCorpscategory('rejected')" data-toggle="tooltip"
      title="Rejettées" class="btn btn-secondary"><span class="material-icons">thumb_down_alt</span></button>
    <button #banned type="button" (click)="setDeliveryCorpscategory('banned')" data-toggle="tooltip" title="Bannies"
      class="btn btn-secondary"><span class="material-icons">remove_circle</span></button>
  </div>
  <ul style="display: none;" class="nav ml-4">
    <li class="nav-item mr-1">
      <button type="button" class="btn btn-primary">Primary</button>

    </li>
    <li class="nav-item mr-1">
      <button type="button" class="btn btn-secondary">Secondary</button>

    </li>
    <li class="nav-item mr-1">
      <button type="button" class="btn btn-success">Success</button>

    </li>
    <li class="nav-item mr-1">
      <button type="button" class="btn btn-danger">Danger</button>
    </li>
  </ul>
</div>
<div class="two-nav-content bg-color overflow-auto">
  <table *ngIf="(deliveryCorps$|async)?.length>0" class="table table-striped table-hover tableFixHead">
    <thead>
      <tr class="table-primary">
        <th scope="col">Code</th>
        <th scope="col">Nom</th>
        <th scope="col">User</th>
        <th scope="col">ID Nat.</th>
        <th scope="col">Nmro. Impot</th>
        <th scope="col">RCCM</th>
        <th scope="col">#Livreurs</th>
        <th scope="col">#Flotte</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="select(deliveryCorp._id)"
        [ngClass]="{'table-success': deliveryCorp._id.localeCompare((selectedDeliveryCorp$|async)?._id)==0}"
        *ngFor="let deliveryCorp of deliveryCorps$|async">
        <td>{{deliveryCorp._id|codeFormater}}</td>
        <td>{{deliveryCorp.entrepriseInfo.name}}</td>
        <td>
          <a class="text-primary">@{{deliveryCorp.ownerUser.name}}</a>
        </td>
        <td>
          {{deliveryCorp.entrepriseInfo.idna}}
        </td>
        <td>{{deliveryCorp.entrepriseInfo.numeroImpot}}</td>
        <td>{{deliveryCorp.entrepriseInfo.rccm}}</td>
        <td>
          {{(deliveryCorp._id|remoteDeliveryBoysByDeliveryCorpId|async) !=
          null?(deliveryCorp._id|remoteDeliveryBoysByDeliveryCorpId|async)?.length: '- -'}}
        </td>
        <td>{{deliveryCorp.deliverCars.length}}</td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="(deliveryCorps$|async)?.length==0"
    class="card mx-auto text-muted align-middle vertically-aligned-partially-box bg-light mb-3"
    style="max-width: 18rem;">
    <div class="card-body">
      <h6 class="card-title text-center"><span class="material-icons position-relative mr-2"
          style="top: 6px">block</span> Aucun élément à afficher</h6>

    </div>
  </div>
</div>